@font-face {
    src: url(../umivaonici/font/Poppins-Regular.ttf);
    font-family: Poppins;
}

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

    header a {
        text-decoration: none;
        color: black;
        font-size: 25px;
    }

.prevoditelj {
    display: flex;
    font-size: 18px;
}

    #h6 {
        margin-right: 10px;
    }

    #h6mail {
        padding-right: 5px;
    }

    #razmak {
        margin-left: 3px;
        margin-right: 3px;
    }

    .prevoditelj a {
        font-size: 12px;
    }

        .prevoditelj a:hover {
            font-size: 15px;
            transition: 0.2s;
        }

#gore {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 20px 0px;
}

    #gore li {
        border: 1px solid darkslategray;
        padding: 10px;
    }

        #gore li:hover {
            padding: 15px;
            color: #FED766;
            transition: 0.3s;
            border: 1px solid #FED766;
            background-color: lightslategray;
        }

#completlogo {
    display: flex;
    flex-direction: column;
}

#clm {
    display: none;
}

#goreshow {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 20px 0px;
}

    #goreshow img {
        width: 100%;
    }

    #goreshow li {
        border-bottom: 3px solid rgb(59, 57, 57);
        padding: 10px;
        margin-top: 60px;
    }

        #goreshow li:hover {
            padding: 15px;
            color: #FED766;
            transition: 0.3s;
            border: 1px solid #FED766;
            background-color: lightslategray;
        }

.logo {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    background-color: white;
}

.logoji {
    padding: 20px;
    border-bottom: 3px solid #272727;
    border-top: 3px solid #272727;
    background-color: white;
}

    .logoji:hover {
        border-bottom: 3px solid #FED766;
        border-top: 3px solid #FED766;
        transition: 0.5s;
        padding: 25px;
    }

#vertical {
    border-right: 5px solid darkslategray;
    margin: 0px 30px 0px 30px;
}

#prvi {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../umivaonici/images/prvi.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 20%;
}

#btn1 {
    display: flex;
    margin: auto;
    border: 1px solid white;
    background-color: #272727;
    color: white;
    width: 125px;
    margin-top: 30px;
    text-decoration: none;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

    #btn1:hover {
        width: 135px;
        padding: 27px 0px 27px 0px;
        border: 1px solid #FED766;
        color: #FED766;
        transition: 0.3s;
    }

.article11 {
    background-color: rgba(0,0,0,0.1);
    padding: 25px;
    text-align: justify;
    margin-top: 20%;
    color: white;
    font-weight: bolder;
}

    .article11 p, .article11 h1 {
        margin-bottom: 20px;
    }

.naslov {
    background-color: #131111;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.article12 {
    background-color: #131111;
    padding: 25px;
    text-align: justify;
    color: white;
}

    .article12 li {
        padding: 10px;
        border-bottom: 1px solid white;
    }

    #li2 {
        margin-left: 20%;
    }

    #li3 {
        margin-left: 40%;
    }

    #li4 {
        margin-left: 60%;
    }

    #li5 {
        margin-left: 80%;
    }  

#animacija {
    display: flex;
    justify-content: center;
    background-color: #131111;
}

    #animacijabtn {
        font-size: 25px;
        background: none;
        border: 2px solid #FED766;
        cursor: pointer;
        padding: 10px;
        color: #FED766;
    }

        #animacijabtn:hover {
            padding: 10px 15px;
            color: black;
            background-color: #FED766;
            transition: 0.3s;
        }

#drugiimg {
    background-color: #131111;
}

#drugi img {
    width: 80%;
    display: block;
    margin: auto;
}

#treci {
    background-color: #272727;
}

#slike {
    display: flex;
    flex-direction: column;
    margin: 5px 25px 0px 20px;
}

.slikadiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#slike img {
    padding: 10px;
    width: 30%;
    height: 300px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.3);
}

#btn {
    width: 20%;
    margin: auto;
    padding: 20px 0px 20px 0px;
    color: white;
    border: 1px solid white;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

    #btn:hover {
        width: 22%;
        padding: 22px 5px 22px 5px;
        border: 1px solid #FED766;
        color: #FED766;
        transition: 0.3s;
    }

#slike a {
    color: white;
    text-decoration: none;
}

    #btn a:hover {
        color: #FED766;
    }


#savkontakt {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 80px 0px 50px 0px;
    background: linear-gradient(#272727 5%, white 90%);
}

.savokontaktdiv {
    width: 33%;
}

#radnovrijeme {
    margin-top: 2%;
    color: black;
}

#logobot img {
    object-fit: cover;
    width: 100%;
}

#social {
    display: flex;
    flex-direction: column;
}

#socials2 {
    padding-bottom: 10px;
}

    #socials1, #socials2 {
        font-size: 20px;
        color: black;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    #social i {
        margin: auto;
    }

    #social1 {
        background-color: #00f2ea;
        padding: 10px;
        font-size: 70px;
    }

        #social1:hover {
            padding: 11px 15px 11px 15px;
            transition: 0.3s;
        }

    #social2 {
        background-color: #E1306C;
        padding: 10px;
        font-size: 70px;
    }

        #social2:hover {
            padding: 11px 15px 11px 15px;
            transition: 0.3s;
        }

    #socials3 a {
        color: black;
    }

    .bxxx {
        color: #FED766;
        padding: 10px;
        font-size: 35px;
    }

    #socials1 h4 {
        padding-top: 10px;
    }

#whitelogo {
    padding: 20px;
    width: 200%;
}



/* tu je hamburger */

.hamburger {
    display: none;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 60px;
    margin: auto;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: black;
}

#button {
    background-color: white;
    margin-bottom: 10px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



/* manji display */

@media (max-width: 934px) {
    #clm {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 10px;
    }

    .prevoditelj {
        margin-left: 20px;
    }

    #h6 {
        display: none;
    }

    #gore {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

        #gore li {
            width: 80%;
            margin: auto;
        }

        #gore h1 {
            display: none;
        }
    
#goreshow {
    display: none;
}

.hamburger {
    display: block;
}

#li2 {
    margin-left: 10%;
}
            
#li3 {
    margin-left: 20%;
}

#li4 {
    margin-left: 30%;
}

#li5 {
    margin-left: 40%;
}


    #savkontakt {
        display: flex;
        flex-direction: column;
        background: linear-gradient(#272727, white);
    }

    .savokontaktdiv {
        width: 100%;
    }

    #whitelogo {
        margin-top: 10px;
    }

#social {
    margin: auto;
}

}



/* lighbox */

#emailbtn {
    width: auto;
    padding: 15px 30px 15px 30px;
    height: auto;
    margin: auto;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    background:none;
    border: 3px solid #FED766;
    border-radius: 5%;
}

#emailbtn:hover {
    padding: 17px 32px 17px 32px;
    background-color: #FED766;
    font-size: larger;
    transition: 0.3s;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upit {
    width: 1000px;
    height: auto;
    background-color: #1F2833;
    display: none;
    text-align: center;
    padding: 15px;
    margin: 0px 25px 0px 25px;
    border: 2px solid #FED766;
    color: white;
}

#upit h1 {
    padding-bottom: 30px;
}

#ime, #prezime, #email, #telefon {
    width: 300px;
    text-align: center;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 500px;
    color: black;
    resize: none;
    padding: 5px;
}

#submit {
    margin-top: 20px;
    color: black;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

#submit:hover {
    padding: 5px 15px 5px 15px;
    background-color: #FED766;
    font-size: larger;
    transition: 0.3s;
}

input {
    font-size: 15px;
    font-weight: bolder;
}

#zaglavlje {
    display: flex;
    flex-direction: row;
}

    #zaglavlje h1 {
        width: 95%;
        padding-left: 50px;
    }

    #zaglavlje #button2 {
        width: 5%;
    }

#hamburger2 {
    display: block;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 60px;
    margin: auto;

}

.bar2 {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

.bar2:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.bar2:nth-child(2) {
    opacity: 0;
}

.bar2:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#button1:hover > #bar21 { 
    background: #FED766;
    width: 101%;
}


/* Google chrome */
@-webkit-keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffd700;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffd700;
     }
     
 }
 /* Most browsers */
 @keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffd700;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffd700;
     }
     
 }
